{% extends 'base.html' %}

{% block header %}Caesar{% endblock %}
{% block title  %}Caesar{% endblock %}

{% block content %}

<h1 class="mb-5" style="text-align:center">Caesar Cipher</h1>
<p>The <i>Caesar cipher</i> is a simple cipher that just rotates all the letters of the alphabet by some fixed number, called the <i>rotation</i>.
   In order for decryption to work, the input text must:
   <ol>
    <li>Be standard English text (but proper nouns are okay)</li>
    <li>Use just letters and spaces. If you input anything else (numbers, special characters, etc.), it will be ignored</li>
  </ol>
</p>



<h2 class="mt-5" style="text-align:center">Caesar Cipher Encryption</h2>

<form action="/caesar/encrypt" method="post">
  <div class="form-group">
    <label for="input_text">Plaintext</label>
    <textarea class="form-control" rows="3" id="input_text" name="input_text" placeholder="Enter text to encrypt" autocomplete="off"></textarea>
  </div>
  <div class="form-group">
    <label for="input_rot">Rotation</label>
    <input type="number" class="form-control" id="input_rot" name="input_rot" min=-1000 max=1000 required>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Encrypt Text</button>
</form>

{% if encrypted_text %}
  <p> Encrypted Text: </p> <p> {{ encrypted_text }} </p>
{% endif %}

<h2 class="mt-5" style="text-align:center">Caesar Cipher Decryption</h2>


<form action="/caesar/decrypt" method="post">
  <div class="form-group">
    <label for="input_text">Ciphertext</label>
    <textarea class="form-control" rows="3" id="input_text" name="input_text" placeholder="Enter text to decrypt" autocomplete="off"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Decrypt Text</button>
</form>



{% if decrypted_text %}
  <p> Decrypted Text: </p> <p> {{ decrypted_text }} </p>
{% endif %}

<p>Since a Caesar cipher encryption is just some rotation of the alphabet, there are only 26 possibilities, so my decryption method can just check them all by brute force.
  The difficulty here is that it must decide which of the possible decriptions looks the most correct. A human could do this just by looking at them and using intuition, but its a little tricker for a computer.
  To solve this, I use a tool from NLP: a simple language model called n-gram.
  It is trained on common English words, and can calculate a score for any sequence of letters, which tells how similar that sequence is to regular English. With this tool, I just return the rotation to which my language model assigns the highest score.
</p>
{% endblock %}
